@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  min-width: 1060px;
  font-size: 14px;
  font-family: 微软雅黑,宋体; }

a {
  text-decoration: none;
  color: #337ab7; }

span {
  margin: 0; }

.container {
  width: 960px;
  height: 100%;
  margin: 0 auto; }

.header {
  height: 640px;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

.header a {
  color: #fff; }

.header .nav {
  height: 58px;
  line-height: 58px;
  color: #fff;
  overflow: hidden; }

.header .nav .logo {
  float: left;
  position: relative; }

.header .nav .logo img {
  vertical-align: middle; }

.header .nav .logo span {
  position: absolute;
  top: 3px;
  right: -81px;
  font-size: 18px; }

.header .nav .info {
  float: right;
  margin-top: 7px; }

.header .nav .info div {
  display: inline-block;
  padding: 0 5px; }

.header .header-line {
  height: 1px;
  background-color: #fff;
  opacity: 0.3; }

.header .body {
  margin-top: 83.4px; }

.header .body .description {
  text-indent: 17px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 59px; }

.header .footer {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  height: 84px;
  width: 284px;
  margin: 0 auto; }

.header .footer div {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: inline-block;
  width: 256px;
  height: 56px;
  background-color: #4a90e2;
  color: #fff;
  font-size: 24px;
  padding: 6px 12px;
  line-height: 1.8;
  border-radius: 4px; }

.section1 {
  height: 412px;
  background-color: #fff; }

.section1 .item {
  display: inline-block;
  width: 200px;
  margin: 51px 73px 0 38px;
  padding-top: 76px;
  padding-bottom: 83px;
  vertical-align: top; }

.section1 .item .img {
  height: 65px;
  text-align: center; }

.section1 .item .title {
  margin: 15px 0 10px 28px;
  font-size: 18px;
  color: #ff6000; }

.section1 .item .title span {
  vertical-align: bottom;
  display: inline-block;
  background-color: #ff6000;
  color: #fff;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  margin-right: 3px; }

.section1 .item .content {
  font-size: 16px;
  color: #888;
  margin: 0 auto 0 28px; }

.section2 {
  background-color: #f5f7f9;
  height: 410px; }

.section2 .container {
  padding-top: 70px;
  padding-bottom: 36px; }

.section2 .img {
  float: left;
  background-image: url(../img/apps.png);
  width: 620px;
  height: 290px; }

.section2 .text {
  margin-left: 20px;
  float: left; }

.section2 .text p {
  margin: 8px; }

.section2 .text .blue {
  color: #4a90e2; }

.section2 .text .title {
  font-size: 60px; }

.section2 .text .subtitle {
  font-size: 24px; }

.section2 .text .red {
  color: #ff6000; }

.section3 {
  overflow: hidden; }

.section3 .item {
  margin-top: 64px;
  width: 50%;
  float: left; }

.section3 .item:last-child {
  margin-bottom: 104px; }

.section3 .item .circle {
  position: relative;
  float: left;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  background-color: rgba(214, 214, 214, 0.22); }

.section3 .item [class^=img-] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 94px; }

.section3 .item .img-1 {
  background-image: url(../img/icons-01.png); }

.section3 .item .img-2 {
  background-image: url(../img/icons-02.png); }

.section3 .item .img-3 {
  background-image: url(../img/icons-03.png); }

.section3 .item .img-4 {
  background-image: url(../img/icons-04.png); }

.section3 .item .content {
  float: left;
  width: 256px;
  margin: 22px 0 0 20px; }

.section3 .item .content .title {
  margin: 20px 0 10px 0;
  font-size: 24px;
  color: #4a4a4a; }

.section3 .item .content .subtitle {
  font-size: 16px;
  color: #888; }

.section4 {
  background-image: url(../img/join-us-bg.png);
  height: 408px;
  text-align: center;
  padding-top: 100px; }

.section4 .title {
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 50px;
  margin-top: 20px; }

.section5 {
  height: 400px;
  background-color: #fff;
  text-align: center; }

.section5 .title {
  font-size: 24px;
  color: #333;
  padding-top: 89px;
  font-weight: 500;
  line-height: 1.1; }

.section5 .list .img {
  float: left;
  width: 114px;
  height: 43px;
  line-height: 43px;
  margin: 60px 46px 1px 0; }

.section5 .list .img img {
  vertical-align: middle;
  width: 70%; }

.section6 {
  text-align: center;
  height: 281px;
  background-color: #4a90e2;
  color: #fff; }

.section6 .title {
  padding-top: 50px;
  font-size: 32px; }

.section6 .subtitle {
  padding-top: 10px;
  font-size: 20px; }

.section6 .btn {
  margin: auto;
  margin-top: 35px;
  position: relative;
  width: 284px;
  height: 84px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px; }

.section6 .btn a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #f5f7f9;
  width: 256px;
  height: 56px;
  font-size: 24px;
  color: #4a90e2;
  border-radius: 3px;
  padding: 6px 12px; }

.footer {
  height: 270px;
  background-color: #f5f7f9;
  padding-top: 71px; }

.footer .logo {
  float: left;
  font-size: 12px;
  color: #747c83; }

.footer .logo span {
  display: inline-block;
  margin-top: 10px; }

.footer .list {
  margin-left: 120px;
  float: left; }

.footer .list .item {
  float: left;
  padding-left: 20px;
  padding-right: 40px; }

.footer .list .item .title {
  font-size: 15px;
  font-weight: 100;
  color: #333;
  margin-bottom: 10px; }

.footer .list .item a {
  display: block;
  font-size: 12px;
  color: #aaa; }

.footer .contact {
  float: right;
  color: #666;
  border-left: 1px solid #e7e7e7;
  padding-left: 30px; }

.footer .contact p:first-child {
  margin-top: 0; }

.footer .contact img {
  margin: 0 6px;
  vertical-align: middle; }
